/* Eric Meyer's Reset CSS v2.0 - http://meyerweb.com/eric/tools/css/reset/ */
/* Revised 2011-10-21 to include HTML5 elements with no styling */
/* HTML5 display-role reset for older browsers */
/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; 
}  */
/* 
body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
} */
* {
  box-sizing: border-box;
}

.logotipo {
  padding: 10px;
}
ul {
  list-style: none;
}

.menu-header ul {
  align-items: center;
  margin: 5px 0px 5px 0px;
  width: 100wh;
  display: flex;
  justify-content: flex-end;
}
.menu-header li {
  margin: 50px 20px 50px 20px;
  padding: 0px 90px 0px 50px;
}
.menu-header a {
  text-decoration: none;
  color: black;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
