.header-container {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: red;
}



.navbar {
  position: absolute;
  top: 20px;
  left: 0;
  width: 90%;
  margin-left: 10%;
  background-color: white;
  transition: border-radius 0.2s ease-in-out;
  transition: top 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  transition: margin-left 0.1s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem 0 0 1rem;
  margin-top: 2.5rem;
  border-bottom: 0.5rem solid black;
}

.navbar.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: 0;
  border-radius: 0;
}

.menu-header {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.menu-header a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-wrap: nowrap;
}

.emphasis {
  margin-left: 15%;
}

body {
  height: 200vh;
  /* background-color: blue; */
}

/* * {
  box-sizing: border-box;
}

.logotipo {
  margin-left: 6rem;
}

ul {
  list-style: none;
}

.menu-header ul {
  width: 100wh;
  display: flex;
}

.menu-header li {
  padding: 0 3rem 0 3rem;
}

.menu-header li {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-wrap: nowrap;
}

.header-container {
  display: flex;
  background-color: white;
  width: 100wh;
  margin-left: 10%;
  border-radius: 1rem 0 0 1rem;
  margin-top: 2.5rem;
  border-bottom: 0.5rem solid black;
}

#about_us,
#banner {
  aspect-ratio: 16 / 9;
  width: 100%;
  display: flex;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), #a965f0);
  z-index: 0;
}

.logo {
  position: absolute;
  width: 60%;
  bottom: -50px;
  left: -50px;
}

.svg-icon {
  width: 40%;
  position: absolute;
  bottom: 10px;
  right: 10px;
  transform: scaleY(-1);
}

#about_us>.text-section {
  padding: 3rem 3rem 2.5rem 3rem;
  line-height: normal;
  background-color: white;
}

#about_us>.text-section>h2 {
  color: rgb(169, 101, 240);
  font-weight: 600;
  font-size: 2.5rem;
  margin: 0px;
}

#about_us>.text-section>h3 {
  font-weight: 400;
  font-size: 1.65rem;
  margin: 0px;
}

#about_us>.text-section>p {
  font-size: 1.125rem;
  margin: 15px 0px 20px 0px;
  text-align: justify;
  word-spacing: 5px;
  line-height: 1.3;
}

#about_us>.figure-section>img {
  width: auto;
  height: 100%;
}

.equipment h2 {
  color: #a965f0;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  margin: 3rem 0 3rem 3rem;
}

.equipment {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.members {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.person img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.person {
  margin-bottom: 20%;
}

.person p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.services {
  background-color: #a965f0;
  display: block;
  flex-wrap: wrap;
}

.services h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 40px;
  margin-top: 0;
  padding: 3rem 0 3rem 3rem;
}

.services h3 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.container {
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-around;
  margin: 0 20px;
  margin-bottom: 11%;
}

.fila2 {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-evenly;
  margin-right: 9%;
}

.fila {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-evenly;
  margin-right: 20%;
}

.container img {
  width: 70px;
  height: 70px;
  display: flex;
  margin-right: 2rem;
  border-radius: 50%;
}

.container h3 {
  margin: 5px 0 0;
}

.portfolio {
  font-size: 30px;
  color: #a965f0;
  font-family: "Roboto", sans-serif;
  margin-bottom: 9%;
}

.portfolio h2 {
  margin-left: 4%;
}

.photos {
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}

.photos img {
  width: 27%;
}

.container-contact {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
}

.contact {
  display: flex;
  flex-wrap: wrap;
}

.logoFooter {
  display: flex;
  align-items: flex-end;
}

.contact h2 {
  font-size: 40px;
  padding-top: 3%;
  margin-left: 4%;
}

.phone h2,
.mail h2 {
  font-size: 14px;
}

.phone,
.mail {
  display: flex;
  margin-left: 5%;
}

.logoFooter {
  display: flex;
} */